<div class="row" ng-init="contentService.initContentPage($route)">
  <!-- begin form -->
  <form editable-form role="form" name="contentEditForm" ng-submit="contentService.updateContent($location, contentService.template, contentService.content)">
    <div class="col-12 col-sm-12 col-lg-12 main">
      <h3>
        <button type="button" class="btn btn-default" ng-click="contentService.viewContents($location, contentService.template)">
          &larr; Back
        </button>
        <span>{{contentService.content.name}}</span>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
          </button>
          <button type="button" class="btn btn-default" ng-click="contentService.initContentPage($route)">Reset</button>
        </div>
      </h3>

      <!-- <pre>{{contentService.content|json}}</pre> -->

      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a ng-href="{{$location.path()+'#general'}}" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
          <li role="presentation" ng-repeat="c in contentService.template.components"><a ng-href="{{$location.path()+'#'+c.name}}" aria-controls="{{c.name}}" role="tab" data-toggle="tab">{{c.label}}</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="general">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12" ng-repeat="p in contentService.template.properties">
                <div ng-switch on="p.type">
                  <div class="form-group" ng-switch-when="Date">
                    <label for="{{p.name}}">{{p.label}}</label>
                    <pre>Selected date is: <em>{{p.value | date:'fullDate' }}</em></pre>
                    <datepicker ng-model="p.value" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                  </div>
                  <div class="form-group" ng-switch-default>
                    <label for="{{p.name}}">{{p.label}}</label>
                    <input type="text" class="form-control input-sm" name="{{p.name}}" ng-model="p.value" >
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
          </div>
          <div ng-repeat="c in contentService.template.components" role="tabpanel" class="tab-pane" id="{{c.name}}">
            {{c.label}}
            TODO: paste copied content here
          </div>
        </div>
      </div>

      <h3>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
          </button>
          <button type="button" class="btn btn-default" ng-click="contentService.initContentPage($route)">Reset</button>
        </div>
      </h3>
    </div>
  </form>
  <!--/form-->
</div>
<!--/row-->