<div class="row" ng-init="locationService.initLocationPage($route)">
  <!-- begin form -->
  <form role="form" id="locationEditForm" name="locationEditForm" ng-submit="locationService.updateLocation($location, locationService.location)">
    <div class="col-12 col-sm-12 col-lg-12 main">
      <h3>
        <button type="button" class="btn btn-default" ng-click="locationService.viewLocations($location)">
          &larr; Back
        </button>
        <span>{{locationService.location.name}}</span>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
          </button>
          <button type="button" class="btn btn-default" ng-click="locationService.initLocationPage($route)">Reset</button>
        </div>
      </h3>

      <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control input-sm" name="name" ng-model="locationService.location.name" >
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control input-sm" name="description" ng-model="locationService.location.description" >
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-6">
              <div class="form-group">
                <label for="name">Latitude</label>
                <input type="text" class="form-control input-sm" name="latitude"
                  ng-model="locationService.location.latitude" >
              </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-6">
              <div class="form-group">
                <label for="name">Longitude</label>
                <input type="text" class="form-control input-sm" name="longitude"
                  ng-model="locationService.location.longitude" >
              </div>
            </div>
          </div>

          <!-- display map -->
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <button id="map-refresh" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
              <input id="pac-input" class="controls" type="text" placeholder="Search Box">
              <div id="map-canvas"></div>
            </div>
          </div>

        </div>
        <!--/span-->
      </div>
      <!--/row-->
      
      <h3>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
          </button>
          <button type="button" class="btn btn-default" ng-click="locationService.initLocationPage($route)">Reset</button>
        </div>
      </h3>
    </div>
  </form>
  <!--/form-->
</div>
<!--/row-->

<script type="text/javascript">
initialize();
</script>