<div class="row" ng-init="websiteService.init()">
  <div class="col-12 col-sm-12 col-lg-12 main">

    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="pull-right">
          <button type="button" class="btn btn-success btn-sm" ng-click="websiteService.addNewWebsite($location)">
            <span class="glyphicon glyphicon-plus"></span> Add new data
          </button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="websiteService.removeAllWebsites()">
            <span class="glyphicon glyphicon-remove"></span> Remove all data
          </button>
        </div>
        <h3>Websites</h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <form role="form" name="websiteSearchForm">
          <div class="form-group has-feedback">
            <input type="search" name="searchCircuit" results="5" ng-model="websiteSearchForm.search" class="form-control"
              placeholder="Type here to search..."
              ng-change="websiteService.searchWebsites(websiteSearchForm.search)">
            <span ng-if="websiteSearchForm.search" 
              class="glyphicon glyphicon-remove-circle form-control-feedback form-control-feedback-no-label"
              ng-click="websiteService.clearSearch(websiteSearchForm)"></span>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <h4 ng-if="websiteSearchForm.search">
          Results for '{{websiteSearchForm.search}}'
          <a href="" ng-click="websiteService.clearSearch(websiteSearchForm)" class="btn btn-default">
            clear results
          </a>
        </h4>
        <!-- ui bootstrap pagination -->
        <pagination ng-if="!websiteSearchForm.search" ng-change="websiteService.pageChanged()" direction-links="true" boundary-links="true" rotate="false"
          total-items="websiteService.pagination.totalItem" ng-model="websiteService.pagination.current" max-size="websiteService.pagination.max"
          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Url</th>
                <th>Updated</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="w in websiteService.websites | orderBy:'w.name':true">
                <td ng-if="!websiteSearchForm.search">{{ $index + 1 + websiteService.first }}</td>
                <td ng-if="websiteSearchForm.search">{{ $index + 1 }}</td>
                <td>{{ w.name }}</td>
                <td>{{ w.slug }}</td>
                <td>{{ w.url }}</td>
                <td>{{ w.updated | date:'yyyy-MM-dd HH:mm Z' }}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-xs"
                    ng-click="websiteService.editWebsite($location, w.id)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                  </button>
                  <button type="button" class="btn btn-danger btn-xs pull-right"
                    ng-click="websiteService.removeWebsite(w.id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/span-->
    </div>
    <!--/row-->
  </div>
  <!--/span-->
</div>
<!--/row-->